In [ ]:
import mysql.connector
import os
from dotenv import load_dotenv

# .env 파일에서 환경 변수를 불러옵니다.
load_dotenv()

# os.getenv()를 사용해 .env 파일에 저장된 비밀번호를 가져옵니다.
db_password = os.getenv('DB_PASSWORD')


mydb = mysql.connector.connect(
      host='localhost',
      user='root',
      password=db_password,  # .env 파일에서 불러온 비밀번호 변수 사용
      db = 'mysql')

In [ ]:
sql = '''
CREATE TABLE tb_student(
    id int primary key auto_increment not null,
    name varchar(32),
    age int,
    address varchar(32)
) ENGINE = InnoDB DEFAULT CHARSET = utf8
'''
with mydb.cursor() as cursor:
    cursor.execute(sql)

In [25]:
# mydb는 이미 연결된 상태라고 가정합니다.
# (autocommit=False면, 아래처럼 commit()을 반드시 호출해야 반영됩니다.)

# 1) 단건 삽입
insert_sql = "INSERT INTO tb_student (name, age, address) VALUES (%s, %s, %s)"
one = ("홍길동", 24, "서울시 중구")
with mydb.cursor() as cur:
    cur.execute(insert_sql, one)
    mydb.commit()  # autocommit=False인 경우 필수
    print("삽입된 id:", cur.lastrowid)

# 2) 다건 삽입
many = [
    ("김민수", 22, "서울"),
    ("이영희", 23, "부산"),
    ("박준호", 21, "대구"),
]
with mydb.cursor() as cur:
    cur.executemany(insert_sql, many)
    mydb.commit()
    print("삽입된 행 수:", cur.rowcount)

# 3) 삽입 확인 (파이썬에서 즉시 조회)
with mydb.cursor() as cur:
    cur.execute("SELECT id, name, age, address FROM tb_student ORDER BY id")
    for row in cur.fetchall():
        print(row)

삽입된 id: 1
삽입된 행 수: 3
(1, '홍길동', 24, '서울시 중구')
(2, '김민수', 22, '서울')
(3, '이영희', 23, '부산')
(4, '박준호', 21, '대구')

In [ ]:
#